In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('raw_2020.csv')
data.drop('Timestamp', axis = 1, inplace = True)

In [3]:
new_columns = { '¿Para qué tipo de empresa trabaja?': 'Tipo de Empresa',
       'La empresa para la que usted trabaja se dedica principalmente a': 'Mercado',
       '¿Cuantos años de fundada tiene la empresa para la que trabaja?': 'Edad Empresa',
       '¿Cuál es su título en la empresa?':'Rol',
       '¿Se considera usted fundador en la empresa?':'Fundador',
       '¿Qué porcentaje de su tiempo laboral se ocupa en tareas relacionadas a desarrollo de software?': '% en Desarrollo',
       '¿Qué porcentaje de su tiempo laboral se ocupa en gerencia de proyectos?':'% en Gerencia de proyectos',
       '¿Qué porcentaje de su tiempo laboral se ocupa en liderazgo técnico?': '% liderazgo técnico',
       '¿Qué porcentaje de su tiempo laboral se ocupa en gerencia de ingeniería?': '% Gerencia de ingeniería',
       '¿Cuánto tiempo lleva en su cargo actual (incluyendo freelance)?':'Experiencia en rol actual',
       '¿Cuántos años de experiencia en desarrollo de software profesional tiene?': 'Experiencia en desarrollo de software',
       '¿En cuál de los siguientes lenguajes de programación ocupa la mayoría de su tiempo laboral?':'Lenguaje más usado',
       '¿En qué otros lenguajes de programación ocupa su tiempo laboral?':'Otro lenguaje ',
       'Tipo de relación laboral':'Tipo de relación laboral',
       'Su modo de trabajo es: (ignorando el cambio por covid-19)': 'Modo de trabajo',
       'Usted prefiere:':'Preferencias de modo', '¿Tiene titulo universitario o técnico?': 'Tipo de titulo',
       '¿Estudió alguna carrera de PRE-grado relacionada a ingeniería de sistemas?':'PRE-grado relacionado Ing',
       '¿Estudió alguna carrera de POSTgrado relacionada a ingeniería de sistemas?': 'POST-grado relacionado a Ing',
       '¿Tomó clases de programación o algorítmia en la universidad?':'Clases de programación en la universidad',
       '¿Cuál es su máximo titulo alcanzado (graduado)?':'Max Titulo',
       '¿Ha estudiado en algún bootcamp de programación?': 'Bootcamp',
       '¿Si ha estudiado en un bootcamp de programación, en cuál? (ingrese el url del bootcamp)': 'Url bootcamp',
       '¿Cuál es su nivel de inglés para realizar conversaciones técnicas sobre software?':'Nivel de Ingles',
       '¿A usted le pagan en pesos colombianos (COP) o dólares (USD)?': 'Moneda de Pago',
       '¿Usando la moneda de la respuesta anterior, cuánto es su remuneración ANUAL base?  eg 36,000,000 si es pesos o 3,600 si es dólares': 'Remuneración Anual',
       '¿Cuánto es su remuneración ANUAL adicional (usando la moneda que respondio anteriormente)?':'Remuneración anual adicional',
       '¿Cuánto era la remuneración base ANUAL de su trabajo/rol anterior?':'Remuneración Anual anterior',
       '¿Quién paga su seguro de salud?': 'Pago Seguro de Salud',
       '¿Quién paga sus pensiones y cesantias?': 'Pago Seguridad Social',
       '¿Tiene acciones (opciones/stock options/rsus) o dividendos de su empresa como parte de su compensación?':'Acciones dentro de la empresa',
       '¿Si tiene acciones, cuántas tiene en total?':'Total acciones',
       '¿Si tiene acciones, cuál es el precio de emisión por acción en USD? (use $3,750 como tasa de cambio si es necesario)':'Precio acciones',
       '¿Trabaja usted en proyectos freelance a pesar de tener trabajo tiempo completo?':'Freelancer',
       '¿Cuanto fue el total de sus ingresos adicionales de proyectos freelance el año pasado?':'Ingresos freelancer',
       '¿Siente que su salario es justo?': 'Salario Justo',
       '¿En qué sitio web busca oportunidades laborales principalmente?': 'Web de trabajo',
       '¿En que ciudad de Colombia vive?': 'Ciudad Residencia', '¿Cuál es su país de procedencia?': 'Origen',
       '¿En qué año nació?': 'Año de Nacimiento', '¿Cuantos hijos tiene?': 'Cnt Hijos',
       '¿Con cual pronombre prefiere que se refieran a usted? ':'Genero',
       '¿Se considera usted parte de una minoría racial o étnica?': 'Minoría racial o étnica',
       '¿Cuantas horas trabaja por semana?': 'Horas de trabajo'
          }

In [4]:
data.rename(columns = new_columns, inplace = True)

In [5]:
data.shape

(1703, 44)

In [6]:
# Por espacio reducire el string del pronombre
data['Genero'] = data['Genero'].apply(lambda x : x.replace(' (tradicionalmente se identifica como hombre)',""))
data['Genero'] = data['Genero'].apply(lambda x : x.replace(' (tradicionalmente se identifica como mujer)',""))

In [7]:
data['% en Gerencia de proyectos'].value_counts()

no tengo responsabilidades de este tipo    817
0 - 10%                                    341
10 - 20%                                   230
20 - 30%                                   133
30 - 40%                                    65
40 - 50%                                    43
50 - 60%                                    29
60 - 70%                                    15
90 - 100%                                   12
70 - 80%                                     9
80 - 90%                                     9
Name: % en Gerencia de proyectos, dtype: int64

In [8]:
import re
def num(string):
    out = re.sub(r'(?is)No tengo.+', '0', string)
    return out[-4:].replace("%","")
data['Máx % Dev'] = data['% en Desarrollo'].apply(lambda x : num(x)).astype(int)
data['Máx % I.M'] = data['% Gerencia de ingeniería'].apply(lambda x : num(x)).astype(int)
data['Máx % Tech L'] = data['% liderazgo técnico'].apply(lambda x : num(x)).astype(int)
data['Máx % PM'] = data['% en Gerencia de proyectos'].apply(lambda x : num(x)).astype(int)

In [9]:
data['Genero'].value_counts()

él              1522
ella             174
[redactado]        3
AH-64 Apache       1
don                1
Ing                1
no binario         1
Name: Genero, dtype: int64

In [10]:
def rol_principal(w,x,y,z):
    if w >=50:
        return 'Desarrollo'
    if x >= 50:
        return 'Gerencia de Ingenieria'
    if y >= 50:
        return 'Liderazgo Técnico'
    if z >= 50:
        return 'Gestión de Proyectos'
    else :
        return "Sin Clasificar"
    
data['Rol principal'] = list(map(lambda w,x,y,z : rol_principal(w,x,y,z),data['Máx % Dev'], data['Máx % I.M'],data['Máx % Tech L'],data['Máx % PM']))

In [11]:
data['Rol principal'].value_counts()

Desarrollo                1512
Sin Clasificar             101
Liderazgo Técnico           42
Gestión de Proyectos        25
Gerencia de Ingenieria      23
Name: Rol principal, dtype: int64

In [12]:
df = pd.DataFrame(data.groupby(['Genero','Rol principal'])['Máx % Dev'].count())
table = pd.pivot_table(df, values = 'Máx % Dev', index = 'Genero', columns = 'Rol principal').fillna(0)
table['Total'] = table.sum(axis = 1)
table= table.sort_values('Total', ascending = False).astype(int)
table = table.reset_index()
table.to_csv('tabla_1.csv')

In [13]:
def normalize(city):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
        ("ü", "u"),
    )
    for a, b in replacements:
        city = city.replace(a, b).replace(a.upper(), b.upper()).capitalize().strip()
    return  city

In [14]:
def Sep_c(city):
    city = city.split(',')
    return city[0]

def Sep_h(city):
    city = city.split('-')
    return city[0]

def Sep_d(city):
    return city.replace('\t'," ")

import re

def Medellin(city):
    return  re.sub(r'(?is)Medell.+', 'Medellin', city)

def Bogota(city):
    return  re.sub(r'(?is)Bog.+', 'Bogota', city)

def Popayan(city):
    return  re.sub(r'(?is)Popay.+', 'Popayan', city)

def wiki_city(city):
    word_list = city.split('/')
    c =  word_list[-1]
    return re.sub(r'(?is)Https.+', c, city)

def antioquia(city):
    return city.replace(' antioquia',"")

In [15]:
def wiki_city_2(city):
    word_list = city.split(' ')
    c =  word_list[-2]
    return re.sub(r'\d{3}.+',c,city)

In [16]:
data['Ciudad Residencia'] = data['Ciudad Residencia'].apply(lambda x : wiki_city(x))
data['Ciudad Residencia'] = data['Ciudad Residencia'].apply(lambda x : normalize(x))
data['Ciudad Residencia'] = data['Ciudad Residencia'].apply(lambda x : Sep_d(x))
data['Ciudad Residencia'] = data['Ciudad Residencia'].apply(lambda x : Sep_c(x))
data['Ciudad Residencia'] = data['Ciudad Residencia'].apply(lambda x : Sep_h(x))
data['Ciudad Residencia'] = data['Ciudad Residencia'].apply(lambda x : Medellin(x))
data['Ciudad Residencia'] = data['Ciudad Residencia'].apply(lambda x : Bogota(x))
data['Ciudad Residencia'] = data['Ciudad Residencia'].apply(lambda x : antioquia(x))
data['Ciudad Residencia'] = data['Ciudad Residencia'].apply(lambda x : Popayan(x))

In [17]:
data['Origen'] = data['Origen'].apply(lambda x : normalize(x))
data['Origen'] = data['Origen'].apply(lambda x : x.replace("Venezolano", "Venezuela"))

In [18]:
def normalización_pesos(salario):

    if    878000  <= salario <= 10533000:
        salario = salario * 12
    if salario < 878000 or salario > 1000000000:
        salario = np.nan
    return salario

def normalización_dólares(salario):
    if salario > 1000000 or salario < 1000:
        salario = np.nan
        return salario
    else:
        return salario

def normalización_moneda(moneda,salario):
    if moneda == 'pesos':
        return normalización_pesos(salario)
    else:
        return normalización_dólares(salario)

In [19]:
data['Remuneración Anual'] = list(map(lambda x,y : normalización_moneda(x,y),data['Moneda de Pago'],data['Remuneración Anual']))
data.dropna(subset = ['Remuneración Anual'], inplace = True)

In [20]:
salarios_COP = data[data['Moneda de Pago'] == 'pesos']
salarios_dólares = data[data['Moneda de Pago'] == 'dólares']

In [21]:
#filtro salarios en pesos

tercer_quantil = salarios_COP['Remuneración Anual'].quantile(0.75)
primer_quantil = salarios_COP['Remuneración Anual'].quantile(0.25)
iqr = tercer_quantil - primer_quantil
min = primer_quantil - ( iqr* 1.5 )
max = tercer_quantil + (iqr * 1.5)
data_cfiltered = salarios_COP[(salarios_COP['Remuneración Anual'] >= min) & (salarios_COP['Remuneración Anual'] <= max)]

In [22]:
#filtro salarios en dólares

tercer_quantil = salarios_dólares['Remuneración Anual'].quantile(0.75)
primer_quantil = salarios_dólares['Remuneración Anual'].quantile(0.25)
iqr = tercer_quantil - primer_quantil
min = primer_quantil - ( iqr* 1.5 )
max = tercer_quantil + (iqr * 1.5)
data_dfiltered = salarios_dólares[(salarios_dólares['Remuneración Anual'] >= min) & (salarios_dólares['Remuneración Anual'] <= max)]
data_dfiltered.shape

(211, 49)

In [23]:
def month_to_year(empresa,salario,justo):
    if empresa == 'empresa extranjera' and salario < 5000 and justo == 'si':
        return salario*12
    else:
        return salario
    
def experiencie(experiencia,salario):
    if experiencia == '5 - 10 años' and salario < 10000 :
        return salario*12
    else:
        return salario

In [24]:
data_dfiltered['Remuneración Anual'] = list(map(lambda x,y,z : month_to_year(x,y,z), data_dfiltered['Tipo de Empresa'], data_dfiltered['Remuneración Anual'],data_dfiltered['Salario Justo']))
data_dfiltered['Remuneración Anual'] = list(map(lambda x,y : experiencie(x,y), data_dfiltered['Experiencia en rol actual'], data_dfiltered['Remuneración Anual']))

In [25]:
data_dfiltered['Remuneración Anual'].loc[579] = 3150*12
data_dfiltered['Remuneración Anual'].loc[558] = 24000
data_dfiltered['Remuneración Anual'].loc[795] = 3500*12
data_dfiltered['Remuneración Anual'].loc[1371] = 1500*12

In [26]:
indexs = [295,708,878,1095,1364,1522]
data_dfiltered.drop(index= indexs, axis = 1, inplace = True)

In [27]:
data_filtrada = pd.concat([data_cfiltered,data_dfiltered])
data_filtrada.reset_index(drop = True, inplace = True)

In [28]:
#Ingreso en Dólares todos.
def ingreso_dólares(moneda,salario):
    if moneda == 'pesos':
        return round((salario/3700),1)
    else:
        return salario
    
data_filtrada['Ingreso en dólares'] = list(map(lambda x,y : ingreso_dólares(x,y),data_filtrada['Moneda de Pago'],data_filtrada['Remuneración Anual']))

In [29]:
data_filtrada['Rol'].fillna('No especificado', inplace = True)
data_filtrada['Nivel de Ingles'].fillna('No especificado', inplace = True)

In [30]:
def num(string):
    out = re.sub(r'(?is)No tengo.+', '0', string)
    return out[-4:].replace("%","")

In [31]:
data_filtrada['Máx % Dev'] = data_filtrada['% en Desarrollo'].apply(lambda x : num(x)).astype(int)
data_filtrada['Máx % I.M'] = data_filtrada['% Gerencia de ingeniería'].apply(lambda x : num(x)).astype(int)
data_filtrada['Máx % Tech L'] = data_filtrada['% liderazgo técnico'].apply(lambda x : num(x)).astype(int)
data_filtrada['Máx % PM'] = data_filtrada['% en Gerencia de proyectos'].apply(lambda x : num(x)).astype(int)

In [32]:
def rol_principal(w,x,y,z):
    if w >=50:
        return 'Desarrollo'
    if x >= 50:
        return 'Gerencia de Ingenieria'
    if y >= 50:
        return 'Liderazgo Técnico'
    if z >= 50:
        return 'Gestión de Proyectos'
    else :
        return "Sin Clasificar"

In [33]:
data_filtrada['Rol principal'] = list(map(lambda w,x,y,z : rol_principal(w,x,y,z),data_filtrada['Máx % Dev'], data_filtrada['Máx % I.M'],data_filtrada['Máx % Tech L'],data_filtrada['Máx % PM']))

In [53]:
def k(string):
    return string.lower().capitalize().strip()
def PL_SQL(lenguaje):
    return  re.sub(r'(?is).+PL.+', 'PL/SQL', lenguaje)
def Angular(lenguaje):
    return  re.sub(r'(?is)Angul.+', 'Angular', lenguaje)
def No_respondio(lenguaje):
    return  re.sub(r'(?is)no puedo.+', 'No respondio', lenguaje)

In [54]:
data_filtrada['Lenguaje más usado'].fillna("No respondio", inplace = True)
data_filtrada['Lenguaje más usado'].isnull().sum()
data_filtrada['Lenguaje más usado'] = data_filtrada['Lenguaje más usado'].apply(lambda x:k(x))
data_filtrada['Lenguaje más usado'] = data_filtrada['Lenguaje más usado'].apply(lambda x:PL_SQL(x))
data_filtrada['Lenguaje más usado'] = data_filtrada['Lenguaje más usado'].apply(lambda x:No_respondio(x))

In [55]:
def ingles(x):
    if x ==  'ninguno':
        return 0
    elif x == 'básico (puede leer documentación y código en inglés)':
        return 1
    elif x == 'intermedio (puede pasar una entrevista de programación en ingles cómodamente)':
        return 2
    elif x == 'avanzado (puede liderar una reunion de varias personas en ingles comodamente)':
        return 3
    elif x == 'nativo':
        return 4

In [56]:
data_filtrada['Nivel de Ingles'] = data_filtrada['Nivel de Ingles'].apply(lambda x:ingles(x))

In [57]:
def ingles2(x):
    if x ==  0:
        return 'Ninguno'
    elif x ==  1:
        return 'Básico'
        
    elif x == 2:
        return 'Intermedio'
    elif x == 3: 
        return 'Avanzado'
        
    elif x == 4:
        return 'Nativo'

In [58]:
df = data_filtrada
df['Nivel de ingles'] = df['Nivel de Ingles'].apply(lambda x:ingles2(x))

In [59]:
df['Ingreso en pesos'] =  df['Ingreso en dólares']*3700

In [60]:
def order_by_exp(x):
    if x ==  'menos de 1 año':
        return 1
    elif x ==  '1+ año':
        return 2
        
    elif x == '2+ años':
        return 3
    elif x == '3 - 5 años': 
        return 4
        
    elif x == '5 - 10 años':
        return 5
    elif x == '10 - 15 años':
        return 6
    elif x == 'más de 15 años':
        return 7

In [64]:
df['Order by Exp'] = df['Experiencia en desarrollo de software'].apply(lambda x : order_by_exp(x))

In [65]:

def Empresa(x):
    if x == "empresa extranjera":
        return "Extranjera"
    elif x =="empresa Colombiana con mercado Colombiano":
        return "Colombiana, Mer Local"
    elif x == "empresa Colombiana con mercado latinoamericano":
        return "Colombiana, Mer Latam"
    elif x == "empresa Colombiana con mercado global ":
        return "Colombiana, Mer Global"
    elif x == "empresa Colombiana con mercado EEUU":
        return "Colombiana, Mer EEUU"
    elif x == 'soy independiente (freelance)':
        return 'Freelancer'
df['Tipo de Empresa'] = df['Tipo de Empresa'].apply(lambda x : Empresa(x))

In [66]:
df.to_csv('data_limpia.csv')